.card{
    height: 520px;
    width: 550px;
    background-color: white;
    padding: 5rem;
    top: 15%;
    border-radius: 1rem;
    position: relative;
    border: 1px solid black;
    margin: 14rem auto;
}